@model IEnumerable<lab8.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.Partial("_GenresList", Model)
</p>
            
